@media (max-width:600px) {
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

 
/* Responsive styles */

  /* Make the navigation items stack vertically on smaller screens */
  .feature-navigation {
      display: flex;
      flex-direction: column;
  }
  .features-container li {
      display: block;
      width: 100%; /* full width for smaller screens */
      text-align: center;
  }
  /* Center the logo on smaller screens */
  .website-title {
      display: block;
      margin: 0 auto;
  }


  /* .quote {
    display: flex;
    font-size: 22px;
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    background-image: url('../images/hero-image.jpeg');
    height: 10%;
    width: 100%;
    object-fit: contain;
    background-size: 100%;
  }

  .quote,
  .working-explanation {
    font-family: 'inter', sans-serif;

  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  .quote span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }

  .quote span:nth-child(1) {
    animation: fade-in 2s 0.2s forwards infinite;
  }

  .quote span:nth-child(2) {
    animation: fade-in 2s 0.4s forwards infinite;
  }

  .quote span:nth-child(3) {
    animation: fade-in 2s 0.6s forwards infinite;
  }

  .quote span:nth-child(4) {
    animation: fade-in 2s 0.8s forwards infinite;
  }

  .quote span:nth-child(5) {
    animation: fade-in 2s 1s forwards infinite;
  }

  .quote span:nth-child(6) {
    animation: fade-in 2s 1.2s forwards infinite;
  }

  .quote span:nth-child(7) {
    animation: fade-in 2s 1.4s forwards infinite;
  }

  .quote span:nth-child(8) {
    animation: fade-in 2s 1.6s forwards infinite;
  }

  .quote span:nth-child(9) {
    animation: fade-in 2s 1.8s forwards infinite;
  }

  .quote span:nth-child(10) {
    animation: fade-in 2s 2s forwards infinite;
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .top-part {
    background-color: #2a67f4;
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 1;


  }

  .constant-one {
    width: 100%;
    display: flex;
    justify-content: space-between;

  } */
  .quote {
    font-size: 16px;
    height: 22vw;
  }
  

  .features-container {
    width: 50%;
    padding-left: 10%;
    
  }

  .image-content {
    flex-direction: column;
  }

  .image-content h2 {
    text-align: center;
  }

  .website-title {
    width: 100%;
    height: auto;
  }

  .video-container {
    width: 100%;
    height: auto;
  }

  video {
    width: 100%;
    height: auto;
  }

  .flashcard-feature,
  .audio-feature {
    flex-direction: column;
  }

  .booklist-navigation {
    width: 100%;
  }



  /*end of homepage*/
  /*start of booklist*/
  /* styles for screens smaller than 600px wide go here */

  .page-header {
    text-align: center;
  }
  .fixed-navigation-bar {
    position: static;
  }
  .individual-alphabet {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 5px;
  }
  .individual-alphabet a:hover {
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
    width: 5%;
    background-color: #2a67f4;
  }
  .top-navigator {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 5px;
  }
  .top-navigator a:hover {
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
    width: 5%;
    background-color: #2a67f4;
  }
  input[id=search] {
    width: 100%; /* make the search input full width */
    margin: 2% 0;
    border-radius: 5px;
    padding: 10px; /* reduce padding */
    box-sizing: border-box;
  }
  .bookshelf-aligner {
    margin: 20px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
  }
  form {
    display: flex;
    justify-content: center;
  }
  .search-bar {
    display: flex;
    justify-content: center;
  }
  .search-icon {
    margin-top: 5%;
    height: 50px;
    width: 50px;
  }
  #search {
    width: 100%; /* make the search input full width */
    height: 50px;
    padding: 10px; /* reduce padding */
    border: 5px solid black;
  }
  #search::placeholder {
    color: black;
  }


  /*start of cards*/

  
/* Responsive styles */

  .book-grid ul {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    width: 100%; /* full width for smaller screens */
  }
  .alphabet-navigation {
    display: none; /* hide alphabet navigation on smaller screens */
  }



  .nooffonts {
    padding-top: 18px;
    padding-left: 5px;

  }

  .firstfont {
    font-size: 20px;
    text-align: center;
  }

  .firstfont:nth-child(odd) {
    color: black;
  }

  .firstfont:nth-child(even) {
    color: black;
  }

  .secondfont {
    text-align: center;
  }

  .secondfont:nth-child(odd) {
    color: white;
  }

  .secondfont:nth-child(even) {
    color: white;
  }

  .top {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;


  }

  .overlay:hover {
    opacity: 1;
  }

  /*end of booklist*/
  /*start of vocabulary section*/
  .card-containers {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* padding-top:3%; */

  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    height: 400px;
    width: 20%;
    background-color: aqua;

  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    background-color: transparent;
  }

  .audio {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
  }

  audio {
    width: 20%;
  }

  .content-inside {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    border: 1px solid brown;
  }

  .card-1:hover .content-inside {
    transform: rotateY(180deg);
  }

  .card-2:hover .content-inside {
    transform: rotateY(180deg);
  }

  .card-3:hover .content-inside {
    transform: rotateY(180deg);
  }

  .card-4:hover .content-inside {
    transform: rotateY(180deg);
  }

  .front-view,
  .rear-view {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    font-family: 'inter', sans-serif;
    font-weight: 600;

  }

  .front-view {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .rear-view {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /*end of voacbulary session*/
  /*start of login page*/

  .body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, #a7d2ef, #a7d2ef);

  }

  .body main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-3 {
    font-size: 50px;
    text-align: center;
  }

  .form-container {
    width:90%;
    height:70%;
    background-image: url('../images/log-in-low-res.png');
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  .log-in {
    background-blend-mode: overlay;
    
    width: 50%;
    padding-left: 30%;;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
  
  }

  .header-3 {
     font-size: 30px;
    }  
  
  


  input[type=e-mail],
  input[type=password] {
    width: 50%;
    margin: 2% 0;
    color: #030804;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

  .to-signup {
    background-color: #030804;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 7px 0;
    width: 25%;
    font-size: 18px;

  }

  .sign-up-button {
    background-color: rgb(37, 116, 161);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .sign-up-button:hover {
    background-color: #74baff;
  }

  .button-box {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
  }

  .lower-sign-up {
    padding-top: 3%;
  }
  

  /* start of sign-up page */

  .signup-body {
    /* height: 100vh;
  width: 100%; */
    background-image: linear-gradient(180deg, #a7d2ef, #a7d2ef);
  }

  main .signup {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  input[type=e-mail],
  input[type=password] {
    width: 90%;
    margin: 2% 0;
    color: #030804;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

  .signup form input[type=text],
  .signup form input[type=e-mail],
  .signup form input[type=password] {
    width: 50%;
    margin: 2% 0;
    color: #030804;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;

  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 55%;
    border: 2px solid white;
    box-shadow: 5px 5px 15px white;
    border-radius: 8px;
    padding: 20px 40px;
    background-image: url('../images/signup-page.png');
    background-size: cover;
  }

  .title-1,
  .title-2,
  .title-3 {
    text-align: center;

  }


  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }


  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }

  ::placeholder {
    color: transparent;
  }

  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;

    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }

  .submitBtn {
    cursor: pointer;
  }

  /* end of sign-up page */
  /*start of suggestion */
  .main-feedback {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type=text],
  select,
  textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
  }

  input[type=email],
  select {
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
  }

  textarea {
    width: 90%;
  }

  .col-25 label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: rgb(37, 116, 161);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #74baff;
  }

  .feedback-container {
    height: 70%;
    width: 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .feedback-form {
    display: flex;
    flex-direction: column;
  }

  .row .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .row .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*end of suggestion */
  /*start of booklist changed*/
  .booklist-main {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, #a7d2ef, #a7d2ef);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .booklist-main .bookrack {
    width: 120%;

  }

  .bookshelf {
    width: 100%;
    margin-bottom: 0;
    padding-top: 5%;
    text-align: center;
    position: relative;
  }

  .brown-background {

    background-color: burlywood;
    width: 100%;
    border: 20px solid brown;
    border-top-width: 0;

  }

  .individual-alphabet {
    height: 10vh;
    width: 103%;
    background-color: brown;
    /* margin-top:10%; */
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  .equalizer {
    width: 101.5%;
  }


  .individual-alphabet b {
    padding-top: 3%;
  }

  .individual-alphabet b a {
    color: white;
    text-decoration: none;
  }

  .book-grid {
    z-index: 0;
    position: relative;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);

  }

  .book-grid ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .book-grid ul li {
    justify-self: center;
    height: 250px;
    width: 250px;
    box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.3);

  }

  .book-grid ul img {
    display: block;
    box-shadow: 0px -5px 20px 2px rgba(0, 0, 0, 0.3);
    height: 250px;
    width: 250px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .shelf-shadows {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.2), 0px 15px 20px 0px rgba(170, 170, 170, 0.7), 0px 5px 5px 0px rgba(119, 119, 119, 0.3);
  }

  .shelf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #63462D;
    border-radius: 2px;
    z-index: 2;
  }

  .book-shelf {
    padding-top: 1%;
    width: 1300px;
    height: 150px;
  }

  .container {
    position: relative;
    width: 100%;
  }

  .overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s linear;
    background-color: #008CBA;
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }
}
  /*end of booklist changed*/



